.m1
{
   border:3px;
   border-color:black;
   border-style: solid;
   width:500px;
   margin:auto;
}
.m2
{
  border:3px;
  border-color:green;
  border-style: solid;
  max-width:500px;
  margin:auto;
}
